@import '../../scss/variables';
@import '../../scss/breakpoints';

.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background-color: $nav-bar-background;
  min-height: 50px;
  border-bottom: 1px solid $border-default-color;

  @include for-tablet {
    flex-direction: row;
    align-items: center;
  }

  &__MenuButton {
    width: 40px;
    height: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
    cursor: pointer;

    > span {
      width: 100%;
      height: 4px;
      background-color: $nav-bar-hamburger;
    }

    @include for-tablet {
      display: none;
    }
  }

  &__Links {
    display: none;

    @include for-tablet {
      display: flex;
    }

    &--active {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    a,
    a:link,
    a:visited {
      text-decoration: none;
      color: $nav-bar-link;
      padding: 5px 10px;
      line-height: 50px;

      @include for-tablet {
        display: inline-block;
        width: 100%;
      }

      &:hover {
        background-color: $nav-bar-link-hover-background;
      }

      &:active {
        background-color: $nav-bar-active-link-background;
      }
    }
  }
}
