//Nav-bar
$nav-bar-link: #333;
$nav-bar-hamburger: #333;
$nav-bar-background: #eee;
$nav-bar-link-hover-background: #ddd;

//Body
$body-background: #fefefe;
$basic-font-color: #333;
$border-default-color: #ddd;

//form
$error-red: #f00;

//card
$card-background: #fff;

//button
$primary-button-background: #007bff;
$primary-button-font-color: #fff;
$secondary-button-background: #6c757d;
$secondary-button-font-color: #fff;
